.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        color: purple;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        label {
            white-space: nowrap;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input {
            border: 1px solid rgb(195, 194, 194);
            border-radius: 6px;
            height: 30px;
        }

        textarea {
            border: 1px solid rgb(195, 194, 194);
            border-radius: 6px;
        }

        div{
            font-size: 12px;
        }
    }
}

button{
    border-radius: 8px;
    width: 120px;
    height: 38px;
    font-size: medium;
    background-color: purple;
    color: white;
    padding: 5px;
    border: 2px solid purple;
    transition: all 0.5s;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(210, 149, 210);
    border: transparent;
}

