<div class="home-container">
    <div class="image-container">
        <img src="https://images.pexels.com/photos/918327/pexels-photo-918327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Image">
    </div>
    <div class="sub-container">
        <h1 class="title">DESSERT RECIPES</h1>
        <div class="line"></div>
        <h3 class="description">
            Desserts are the fairy tales of the kitchen — a happily-ever-after to supper
        </h3>

        <h1 class="about">Wouldn't you like to have all your favorite recipes, just a click away?</h1>
        <button class="explore-button" routerLink="login">LET'S START</button>
    </div>
</div>